
#banner {
  width: 110%;
  height: 700px;
  background-image: url('/assets/achieve1.jpg');
  background-size: cover;
  padding-right: 0;
  padding-left: 0;
  margin-left: -15px;
}

#centerFocus {
  text-align: right;
  color: black;
  margin-top: -300px;
  font-weight: 400;
}
